<?xml version="1.0" encoding="utf-8"?>
<!-- See dev-setup.txt in this folder for instructions on building the local aspnetcore packages. -->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-aspnetcore" value="C:\Users\shiyingchen\aspnetcore\artifacts\packages\Debug\Shipping" />
  </packageSources>
</configuration>
